## Vectors

In [1]:
a = c(1,2,3,6,7)
a

[1] 1 2 3 6 7

In [2]:
drawn_suits = c("Spade","Diamond","Diamond","Heart","Club")
drawn_suits

[1] "Spade"   "Diamond" "Diamond" "Heart"   "Club"

In [3]:
is.vector(drawn_suits)

[1] TRUE

In [4]:
#Atomic datatypes are also vectors

In [5]:
is.vector(5)

[1] TRUE

In [6]:
suits = c("spades","clubs","diamonds","hearts")

In [7]:
remain= c(11,11,12,13)

In [8]:
names(remain)=suits

In [9]:
remain

  spades    clubs diamonds   hearts
      11       11       12       13

In [10]:
#alternatively

In [11]:
remain = c("spades"=11,"clubs"=11,"diamonds"=12,"hearts"=13)

In [12]:
remain

  spades    clubs diamonds   hearts
      11       11       12       13

In [13]:
str(remain)

 Named num [1:4] 11 11 12 13
 - attr(*, "names")= chr [1:4] "spades" "clubs" "diamonds" "hearts"

In [14]:
is.logical(NA)

[1] TRUE

In [15]:
t ="abc"

In [17]:
length(t) #length of the vector

[1] 1

### A vector can hold only elements of same type

In [ ]:
# If different types are used, R tries to use coercion

In [18]:
drawn_ranks = c(9,10,"K",10,"J","Q")

In [19]:
drawn_ranks

[1] "9"  "10" "K"  "10" "J"  "Q"

In [20]:
class(drawn_ranks)

[1] "character"

### To store elements of different data types, we 'll need lists

In [21]:
t =  c(a=5,b=9)

In [22]:
t

a b
5 9

In [23]:
poker_vector1 <- c(140, -50, 20, -120, 240)
names(poker_vector1) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

poker_vector2 <- c(Monday = 140, -50, 20, -120, 240)

roulette_vector1 <- c(-24, -50, 100, -350, 10)
days_vector <- names(poker_vector1)
names(roulette_vector1) <- days_vector

roulette_vector2 <- c(-24, -50, 100, -350, 10)
names(roulette_vector2) <- "Monday"

In [26]:
roulette_vector1
roulette_vector2

   Monday   Tuesday Wednesday  Thursday    Friday
      -24       -50       100      -350        10

Monday   <NA>   <NA>   <NA>   <NA>
   -24    -50    100   -350     10

In [27]:
poker_vector1
poker_vector2

   Monday   Tuesday Wednesday  Thursday    Friday
      140       -50        20      -120       240

Monday
   140    -50     20   -120    240

### Vector Arithmetic

In [29]:
## All operations done element wise

In [30]:
a = c(1,2,3,5)
a*2

[1]  2  4  6 10

In [32]:
a/2

[1] 0.5 1.0 1.5 2.5

In [33]:
a+3

[1] 4 5 6 8

In [34]:
a^a

[1]    1    4   27 3125

In [35]:
a/a

[1] 1 1 1 1

In [36]:
a+a

[1]  2  4  6 10

In [37]:
sum(a)

[1] 11

In [39]:
a
b = c(2,5,3,1)
b

[1] 1 2 3 5

[1] 2 5 3 1

In [40]:
a > b

[1] FALSE FALSE FALSE  TRUE

## Vector Subsetting

In [ ]:
# indexing starts from 1 and not 0

In [41]:
b[1]

[1] 2

In [43]:
drawn_ranks[1]

[1] "9"

In [45]:
remain[3]

diamonds
      12

In [48]:
remain["clubs"]

clubs
   11

In [49]:
remain[c(1,3)]

  spades diamonds
      11       12

In [53]:
remain[c("diamonds","hearts")]

diamonds   hearts
      12       13

In [54]:
remain[c(1,4)]

spades hearts
    11     13

In [55]:
remain

  spades    clubs diamonds   hearts
      11       11       12       13

In [56]:
remain[-1]

   clubs diamonds   hearts
      11       12       13

In [57]:
remain[-3]

spades  clubs hearts
    11     11     13

In [58]:
remain[c(-1,-3)]

 clubs hearts
    11     13

In [61]:
#Logical Subsetting

poker_vector1
roulette_vector1
poker_vector1>roulette_vector1
poker_vector1[poker_vector1>roulette_vector1]

   Monday   Tuesday Wednesday  Thursday    Friday
      140       -50        20      -120       240

   Monday   Tuesday Wednesday  Thursday    Friday
      -24       -50       100      -350        10

   Monday   Tuesday Wednesday  Thursday    Friday
     TRUE     FALSE     FALSE      TRUE      TRUE

  Monday Thursday   Friday
     140     -120      240

In [66]:
b = c(1,4,5,3,6,78)

In [68]:
b[2:5]

[1] 4 5 3 6