## Matrix

In [2]:
## Extension of vector to 2D

In [3]:
matrix(1:6,nrow=2)

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

In [4]:
matrix(1:6,ncol =3)

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

In [5]:
matrix(1:6,nrow=3,byrow = TRUE)

     [,1] [,2]
[1,]    1    2
[2,]    3    4
[3,]    5    6

In [6]:
##Recycles incase not enough elements

In [7]:
matrix(1:4,nrow =4,ncol=3)

     [,1] [,2] [,3]
[1,]    1    1    1
[2,]    2    2    2
[3,]    3    3    3
[4,]    4    4    4

In [8]:
matrix(1:4,nrow =4,ncol=3,byrow=TRUE)

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    1    2
[3,]    3    4    1
[4,]    2    3    4

In [9]:
matrix(1:4,nrow =3,ncol=3,byrow=TRUE)

Warning message:
In matrix(1:4, nrow = 3, ncol = 3, byrow = TRUE): data length [4] is not a sub-multiple or multiple of the number of rows [3]

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    1    2
[3,]    3    4    1

In [10]:
m1 = cbind(1:3,1:3)
m2 = rbind(1:3,1:4)
m1
m2

Warning message:
In rbind(1:3, 1:4): number of columns of result is not a multiple of vector length (arg 1)

     [,1] [,2]
[1,]    1    1
[2,]    2    2
[3,]    3    3

     [,1] [,2] [,3] [,4]
[1,]    1    2    3    1
[2,]    1    2    3    4

In [11]:
class(m2)

[1] "matrix"

In [12]:
rbind(m2,3:6)

     [,1] [,2] [,3] [,4]
[1,]    1    2    3    1
[2,]    1    2    3    4
[3,]    3    4    5    6

In [13]:
m1=cbind(m1,2:4)

In [14]:
m1

     [,1] [,2] [,3]
[1,]    1    1    2
[2,]    2    2    3
[3,]    3    3    4

In [15]:
rownames(m1) = c("row1","row2","row3")

In [16]:
m1

     [,1] [,2] [,3]
row1    1    1    2
row2    2    2    3
row3    3    3    4

In [17]:
colnames(m1) = c("col1","col2","col3")

In [18]:
m1

     col1 col2 col3
row1    1    1    2
row2    2    2    3
row3    3    3    4

In [19]:
colnames(m1)

[1] "col1" "col2" "col3"

In [20]:
m3 = matrix(1:6,byrow=TRUE, nrow =2 , dimnames = list(c("row1","row2"),
                                                      c("col1","col2","col3")))

In [21]:
m3

     col1 col2 col3
row1    1    2    3
row2    4    5    6

In [22]:
p1 = matrix(1:6,nrow=2)
p2 = matrix(LETTERS[1:6],nrow=2)
p1
p2
p3 = rbind(p1,p2)
p3
class(p3)

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

     [,1] [,2] [,3]
[1,] "A"  "C"  "E"
[2,] "B"  "D"  "F"

     [,1] [,2] [,3]
[1,] "1"  "3"  "5"
[2,] "2"  "4"  "6"
[3,] "A"  "C"  "E"
[4,] "B"  "D"  "F"

[1] "matrix"

In [23]:
class(p3[1,2])

[1] "character"

In [24]:
p3[1,2]

[1] "3"

In [25]:
p3[4,1]

[1] "B"

In [26]:
p3[4,]

[1] "B" "D" "F"

In [27]:
p3[,2]

[1] "3" "4" "C" "D"

In [28]:
p3[1:2,]

     [,1] [,2] [,3]
[1,] "1"  "3"  "5"
[2,] "2"  "4"  "6"

In [29]:
p3[4]

[1] "B"

In [30]:
p3

     [,1] [,2] [,3]
[1,] "1"  "3"  "5"
[2,] "2"  "4"  "6"
[3,] "A"  "C"  "E"
[4,] "B"  "D"  "F"

In [31]:
p3[7]

[1] "C"

#### when you pass a single index to subset a matrix, R simply goes through the matrix column by column from left to right.

In [32]:
p3[3,c(1,3)]

[1] "A" "E"

In [33]:
p3[c(1,4),c(2,3)]

     [,1] [,2]
[1,] "3"  "5"
[2,] "D"  "F"

In [34]:
p3[c(TRUE,TRUE,FALSE,TRUE),c(TRUE,FALSE,TRUE)]

     [,1] [,2]
[1,] "1"  "5"
[2,] "2"  "6"
[3,] "B"  "F"

In [35]:
m3

     col1 col2 col3
row1    1    2    3
row2    4    5    6

In [36]:
m3[c("row1","row2"),c("col1","col3")]

     col1 col3
row1    1    3
row2    4    6

In [37]:
m3["row1",2]

[1] 2

In [38]:
p3[c(TRUE,FALSE),c(TRUE,FALSE)]

     [,1] [,2]
[1,] "1"  "5"
[2,] "A"  "E"

In [39]:
p3

     [,1] [,2] [,3]
[1,] "1"  "3"  "5"
[2,] "2"  "4"  "6"
[3,] "A"  "C"  "E"
[4,] "B"  "D"  "F"

    rowSums() -- Sum of rows
    colSums() -- Sum of cols

In [40]:
rowSums(m3)

row1 row2
   6   15

In [41]:
colSums(m3)

col1 col2 col3
   5    7    9

In [42]:
m3

     col1 col2 col3
row1    1    2    3
row2    4    5    6