https://courses.edx.org/courses/course-v1:MITx+15.071x_3+1T2016/courseware/d32b0c36ff484c228b8117257349d0e6/4652e5b0f0f44493b96a61186ec0da38/

In [1]:
movies = read.table("movieLens.txt", header = FALSE, sep = "|", quote = "\"")

In [2]:
summary(movies)

       V1                                      V2                 V3
 Min.   :   1.0   Body Snatchers (1993)         :   2   01-Jan-1995:215
 1st Qu.: 421.2   Butcher Boy, The (1998)       :   2   01-Jan-1994:213
 Median : 841.5   Chairman of the Board (1998)  :   2   01-Jan-1993:126
 Mean   : 841.5   Chasing Amy (1997)            :   2   01-Jan-1997: 98
 3rd Qu.:1261.8   Deceiver (1997)               :   2   01-Jan-1992: 37
 Max.   :1682.0   Designated Mourner, The (1997):   2   01-Jan-1996: 26
                  (Other)                       :1670   (Other)    :967
    V4
 Mode:logical
 NA's:1682





                                                                           V5
                                                                            :   3
 http://us.imdb.com/M/title-exact?Body%20Snatchers%20(1993)                 :   2
 http://us.imdb.com/M/title-exact?Chasing+Amy+(1997)                        :   2
 http://us.imdb.com/M/title-exact?Designated%20Mourner%2C%20The%20%281997%29:   2
 http://us.imdb.com/M/title-exact?Fly%20Away%20Home%20(1996)                :   2
 http://us.imdb.com/M/title-exact?Hugo+Pool+(1997)                          :   2
 (Other)                                                                    :1669
       V6                 V7               V8                V9
 Min.   :0.000000   Min.   :0.0000   Min.   :0.00000   Min.   :0.00000
 1st Qu.:0.000000   1st Qu.:0.0000   1st Qu.:0.00000   1st Qu.:0.00000
 Median :0.000000   Median :0.0000   Median :0.00000   Median :0.00000
 Mean   :0.001189   Mean   :0.1492   Mean   :0.08026   Mean   :0.02497
 3rd Qu.:0.000000   3rd Qu.:0.0000   3rd Qu.:0.00000   3rd Qu.:0.00000
 Max.   :1.000000   Max.   :1.0000   Max.   :1.00000   Max.   :1.00000

      V10               V11              V12              V13
 Min.   :0.00000   Min.   :0.0000   Min.   :0.0000   Min.   :0.00000
 1st Qu.:0.00000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.00000
 Median :0.00000   Median :0.0000   Median :0.0000   Median :0.00000
 Mean   :0.07253   Mean   :0.3002   Mean   :0.0648   Mean   :0.02973
 3rd Qu.:0.00000   3rd Qu.:1.0000   3rd Qu.:0.0000   3rd Qu.:0.00000
 Max.   :1.00000   Max.   :1.0000   Max.   :1.0000   Max.   :1.00000

      V14             V15               V16               V17
 Min.   :0.000   Min.   :0.00000   Min.   :0.00000   Min.   :0.0000
 1st Qu.:0.000   1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.0000
 Median :0.000   Median :0.00000   Median :0.00000   Median :0.0000
 Mean   :0.431   Mean   :0.01308   Mean   :0.01427   Mean   :0.0547
 3rd Qu.:1.000   3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.0000
 Max.   :1.000   Max.   :1.00000   Max.   :1.00000   Max.   :1.0000

      V18               V19               V20              V21
 Min.   :0.00000   Min.   :0.00000   Min.   :0.0000   Min.   :0.00000
 1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.0000   1st Qu.:0.00000
 Median :0.00000   Median :0.00000   Median :0.0000   Median :0.00000
 Mean   :0.03329   Mean   :0.03627   Mean   :0.1468   Mean   :0.06005
 3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.0000   3rd Qu.:0.00000
 Max.   :1.00000   Max.   :1.00000   Max.   :1.0000   Max.   :1.00000

      V22              V23               V24
 Min.   :0.0000   Min.   :0.00000   Min.   :0.00000
 1st Qu.:0.0000   1st Qu.:0.00000   1st Qu.:0.00000
 Median :0.0000   Median :0.00000   Median :0.00000
 Mean   :0.1492   Mean   :0.04221   Mean   :0.01605
 3rd Qu.:0.0000   3rd Qu.:0.00000   3rd Qu.:0.00000
 Max.   :1.0000   Max.   :1.00000   Max.   :1.00000

In [3]:
str(movies)

'data.frame':	1682 obs. of  24 variables:
 $ V1 : int  1 2 3 4 5 6 7 8 9 10 ...
 $ V2 : Factor w/ 1664 levels "101 Dalmatians (1996)",..: 1525 617 554 593 343 1317 1545 108 390 1238 ...
 $ V3 : Factor w/ 241 levels "","01-Aug-1997",..: 71 71 71 71 71 71 71 71 71 182 ...
 $ V4 : logi  NA NA NA NA NA NA ...
 $ V5 : Factor w/ 1661 levels "","http://us.imdb.com/M/title-exact?06%20(1994)",..: 1431 564 504 542 309 1661 1453 102 356 1183 ...
 $ V6 : int  0 0 0 0 0 0 0 0 0 0 ...
 $ V7 : int  0 1 0 1 0 0 0 0 0 0 ...
 $ V8 : int  0 1 0 0 0 0 0 0 0 0 ...
 $ V9 : int  1 0 0 0 0 0 0 0 0 0 ...
 $ V10: int  1 0 0 0 0 0 0 1 0 0 ...
 $ V11: int  1 0 0 1 0 0 0 1 0 0 ...
 $ V12: int  0 0 0 0 1 0 0 0 0 0 ...
 $ V13: int  0 0 0 0 0 0 0 0 0 0 ...
 $ V14: int  0 0 0 1 1 1 1 1 1 1 ...
 $ V15: int  0 0 0 0 0 0 0 0 0 0 ...
 $ V16: int  0 0 0 0 0 0 0 0 0 0 ...
 $ V17: int  0 0 0 0 0 0 0 0 0 0 ...
 $ V18: int  0 0 0 0 0 0 0 0 0 0 ...
 $ V19: int  0 0 0 0 0 0 0 0 0 0 ...
 $ V20: int  0 0 0 0 0 0 0 0 0 0 ...
 $ V21: int  0 0 0 0 0 0 1 0 0 0 ...
 $ V22: int  0 1 1 0 1 0 0 0 0 0 ...
 $ V23: int  0 0 0 0 0 0 0 0 0 1 ...
 $ V24: int  0 0 0 0 0 0 0 0 0 0 ...

In [4]:
colnames(movies) = c("ID", "Title", "ReleaseDate", "VideoReleaseDate", "IMDB", "Unknown", "Action", "Adventure", "Animation", "Childrens", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "FilmNoir", "Horror", "Musical", "Mystery", "Romance", "SciFi", "Thriller", "War", "Western")

In [5]:
str(movies)

'data.frame':	1682 obs. of  24 variables:
 $ ID              : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Title           : Factor w/ 1664 levels "101 Dalmatians (1996)",..: 1525 617 554 593 343 1317 1545 108 390 1238 ...
 $ ReleaseDate     : Factor w/ 241 levels "","01-Aug-1997",..: 71 71 71 71 71 71 71 71 71 182 ...
 $ VideoReleaseDate: logi  NA NA NA NA NA NA ...
 $ IMDB            : Factor w/ 1661 levels "","http://us.imdb.com/M/title-exact?06%20(1994)",..: 1431 564 504 542 309 1661 1453 102 356 1183 ...
 $ Unknown         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Action          : int  0 1 0 1 0 0 0 0 0 0 ...
 $ Adventure       : int  0 1 0 0 0 0 0 0 0 0 ...
 $ Animation       : int  1 0 0 0 0 0 0 0 0 0 ...
 $ Childrens       : int  1 0 0 0 0 0 0 1 0 0 ...
 $ Comedy          : int  1 0 0 1 0 0 0 1 0 0 ...
 $ Crime           : int  0 0 0 0 1 0 0 0 0 0 ...
 $ Documentary     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Drama           : int  0 0 0 1 1 1 1 1 1 1 ...
 $ Fantasy         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FilmNoir        : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Horror          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Musical         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Mystery         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Romance         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ SciFi           : int  0 0 0 0 0 0 1 0 0 0 ...
 $ Thriller        : int  0 1 1 0 1 0 0 0 0 0 ...
 $ War             : int  0 0 0 0 0 0 0 0 0 1 ...
 $ Western         : int  0 0 0 0 0 0 0 0 0 0 ...

In [6]:
movies$ID = NULL
movies$ReleaseDate = NULL
movies$VideoReleaseDate = NULL
movies$IMDB = NULL

In [7]:
movies = unique(movies)

In [8]:
str(movies)

'data.frame':	1664 obs. of  20 variables:
 $ Title      : Factor w/ 1664 levels "101 Dalmatians (1996)",..: 1525 617 554 593 343 1317 1545 108 390 1238 ...
 $ Unknown    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Action     : int  0 1 0 1 0 0 0 0 0 0 ...
 $ Adventure  : int  0 1 0 0 0 0 0 0 0 0 ...
 $ Animation  : int  1 0 0 0 0 0 0 0 0 0 ...
 $ Childrens  : int  1 0 0 0 0 0 0 1 0 0 ...
 $ Comedy     : int  1 0 0 1 0 0 0 1 0 0 ...
 $ Crime      : int  0 0 0 0 1 0 0 0 0 0 ...
 $ Documentary: int  0 0 0 0 0 0 0 0 0 0 ...
 $ Drama      : int  0 0 0 1 1 1 1 1 1 1 ...
 $ Fantasy    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FilmNoir   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Horror     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Musical    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Mystery    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Romance    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ SciFi      : int  0 0 0 0 0 0 1 0 0 0 ...
 $ Thriller   : int  0 1 1 0 1 0 0 0 0 0 ...
 $ War        : int  0 0 0 0 0 0 0 0 0 1 ...
 $ Western    : int  0 0 0 0 0 0 0 0 0 0 ...

In [9]:
table(movies$Comedy)

   0    1
1162  502

In [11]:
table(movies$Western)

   0    1
1637   27

In [12]:
table(movies$Romance,movies$Drama)

      0   1
  0 801 619
  1 147  97