In [1]:
2+3

[1] 5

In [2]:
1:10

 [1]  1  2  3  4  5  6  7  8  9 10

In [4]:
Countries = c("India","China","USA","Australia")
Countries

[1] "India"     "China"     "USA"       "Australia"

In [5]:
Population = c(2000,3000,200,50)

In [9]:
CountryData1 = data.frame(Countries,Population)
CountryData1

  Countries Population
1     India       2000
2     China       3000
3       USA        200
4 Australia         50